[Unit]
Description=Enable connection to serial port over TCP (for MultiWii tools)
After=networking.target

[Service]
Type=simple

ExecStart=
ExecStart=/root/magpi/bin/multiwiid.py

[Install]
WantedBy=multi-user.target
