[Unit]
Description=Start multiwii when USB serial connected
BindsTo=dev-ttyUSB0.device
After=dev-ttyUSB0.device

[Service]
Type=forking
ExecStart=/home/magpi/magpi.sh start
ExecStop=/home/magpi/magpi.sh stop
PIDFile=/tmp/magpi.pid

[Install]
WantedBy=multi-user.target
